.Home {
  background: transparent;
  min-height: calc(100% - 80px);
  padding-top: 0.6rem;
  color: #42404a;
  position: relative;
}

.Home .Home__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 350px) {
  .Home .Home__container {
    justify-content: unset;
  }
}

.Home .Header {
  max-width: 1275px;
  margin: 0 auto;
  position: relative;
  border-radius: 25px;
}

.Home .Header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 30px;
}

.Home .Header__row .Description {
  display: flex;
  align-self: center;
}

.Home .Header__row .Description__title {
  font-weight: bold;
  font-size: 2.3rem;
  font-family: "Cutive Mono", sans-serif;
}

.Home .Header__row .Galeries {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .Header__row .Images {
  position: relative;
  left: 20rem;
}

@media (max-width: 940px) {
  .Home .Header__row .Images {
    left: 10rem;
  }
}

@media (max-width: 600px) {
  .Home .Header {
    max-width: 100%;
  }

  .Home .Header__row .Images {
    left: 5rem;
  }
}

.Home .Header__row .Images .Images__icon {
  width: 50px;
  cursor: pointer;
}

@media (max-width: 440px) {
  .Home .Header__row .Images {
    left: 2rem;
  }

  .Home .Header__row .Images .Images__icon {
    width: 35px;
  }
}