.GaleriaListaItem {
    background-color: #b2b1ba40;
    border-radius: 15px;
    padding: 0.8rem;
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.GaleriaListaItem:hover {
    transform: scale(1.1);
}

@media (max-width: 450px) {
    .GaleriaListaItem {
        width: 65vw;
        height: auto;
    }
}

.GaleriaListaItem > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.GaleriaListaItem__badge {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #42404a;
    background-color: #4018d2;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all .6s ease-in-out;
}

.GaleriaListaItem__badge:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.GaleriaListaItem__titulo {
    text-align: center;
    color: #242435;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.GaleriaListaItem__tema {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0.6rem;
    font-style: oblique;
    font-weight: bold;
}

.GaleriaListaItem__imagem {
    width: 90%;
    height: auto;
    margin: 0 auto;
    border: 5px solid #010024;
    box-shadow: 5px 5px 10px 5px #0000009d;
    border-radius: 15px;
    transition: all 1.5s ease-in-out;
}

.GaleriaListaItem__imagem:hover {
    transform: scale(1.1);
    cursor: grab;
}

.GaleriaListaItem__ano {
    color: #242435;
    margin-left: 1rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    font-style: oblique;
}

.GaleriaListaItem__descr {
    color: #242435;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 100%;
}

.GaleriaListaItem__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.6rem 0;
}

.GaleriaListaItem__btns .btn {
    max-width: 300px;
    background-color: transparent;
    border: 3px solid #4018d2;
    border-radius: 15px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 1rem;
    text-align: center;
    transition: all 0.6s ease-in-out;
}

.GaleriaListaItem__btns .btn:hover {
    transform: scale(1.2);
    border: 3px solid transparent;
}

.GaleriaListaItem__btns .btn--preencher {
    width: 100%;
}

.GaleriaListaItem__btns .edit {
    color: #1b1b9e;
}

.GaleriaListaItem__btns .delete {
    color: #561867;
}